/* Write your code here. */
.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.heading {
  font-size: 48px;
  font-family: 'Roboto';
  font-weight: bold;
  width: 60%;
  color: #ffffff;
  text-align: start;
}
.paragraph {
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #e4e7eb;
  text-align: start;
  width: 20%;
}
.input-element {
  border: 1px solid #e4e7eb;
  background-color: transparent;
  width: 80%;
  padding: 8px;
  border-radius: 4px;
  outline: none;
}
.btn {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #219a6f;
  border: none;
  margin-top: 16px;
  outline: none;
  width: 125px;
}
.image {
  width: 50%;
}
